body {
    background-color: #1abc9c;
    font-family: Tahoma, Arial, sans-serif;
    color: #ffffff;
}

img {
    width: 304px;
    border-radius: 10px;
}

.title {
    font-family: Arial;
    font-size: 16pt;
    color: #5b2c0e;
}

form {
    display: block;
    padding: 10px;
    width: 280px;
    border-style: dashed;
    border-width: 2px;
    border-color: #614207;
    border-radius: 5px;
}

.btn_save {
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}

input {
    margin-bottom: 10px;
    width: 180px;
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}

textarea {
    margin-bottom: 10px;
    width: 180px;
    background-color: white;
    border: 1px solid #334fff;
    border-radius: 4px;
    font-size: 12pt;
}
