<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Архив всех статей</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/archive.css" %} />
</head>
<body>
    <header class="header">
        {% load static %}
        <img src="{% static "img/django-logo.png" %}" alt="Django" />
    </header>
    <main>
        <div class="link_to_new">
            <a href="{% url 'new' %}">Новая статья</a>
        </div>            
        <div class="entering">
            {% if request.user.is_anonymous %}
                <a href="{% url 'register' %}" class="entering_links">Регистрация</a> <br>
                <a href="{% url 'login' %}" class="entering_links">Вход</a> <br>
            {% else %}
                <p>Вход выполнен под пользоватедем: {{ request.user.username }} </p>
                <a href="{% url 'logout' %}" class="entering_links">Выход</a> <br>
            {% endif %}
        </div>
        <section class="archive">
            {% for post in posts %}
                <div class="one-post">
                    <h2 class="post-title"><a href="{% url 'get_article' post.id %}">{{ post.title }}</a></h2>
                    <div class="article-info">
                        <div class="article-author">{{ post.author.username }}</div>
                        <div class="article-created-date">{{ post.created_date }}</div>
                    </div>
                    <p class="article-text">{{ post.get_excerpt }}</p>
                </div>   
            {% endfor %}
        </section>
    </main>
</body>
</html>