<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ post.title }}</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/article.css" %} />
</head>
<body>
    <header class="header">
        {% load static %}
        <img src="{% static "img/django-logo.png" %}" alt="Django" />
        <a href="/">Все статьи</a>
    </header>
    <main>
        <section class="archive">
                <div class="one-post">
                    <h2 class="post-title">{{ post.title }}</a></h2>
                    <div class="article-info">
                        <div class="article-author">{{ post.author.username }}</div>
                        <div class="article-created-date">{{ post.created_date }}</div>
                    </div>
                    <p class="article-text">{{ post.get_excerpt }}</p>
                </div>  
        </section>
    </main>
</body>
</html>