<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Привет, Мир!</title>
    {% load static %}
    <link rel="stylesheet" href={% static "css/index.css" %} />
</head>
<body>
    <h1>Привет, Мир!</h1>
    <h2>Это учебный сайт с его помощью будут изучены технологии python/django, html/css.</h2>
    <h3>Как видите, здесь используются заголовки различных уровней.</h3>
    {% load static %}
    <img src="{% static "img/django-logo.png" %}" alt="Django" />
    <h4>Здесь есть маркированный список:</h4>
    <ul>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ul>
    <h4>И нумерованный список:</h4>
    <ol>
        <li>Элемент 1;</li>
        <li>элемент 2;</li>
        <li>элемент 3;</li>
        <li>последний элемент.</li>
    </ol>
    <p>И даже таблица:</p>
    <table>
        <thead>
            <tr>
                <th>Столбик 1</th>
                <th>Столбик 2</th>
                <th>Столбик 3</th>
                <th>Столбик 4</th>
            </tr>
        </thead>
        <tr>
            <td>Строка 1 Столбец 1</td>
            <td>Строка 1 Столбец 2</td>
            <td>Строка 1 Столбец 3</td>
            <td>Строка 1 Столбец 4</td>
        </tr>
        <tr>
            <td>Строка 2 Столбец 1</td>
            <td>Строка 2 Столбец 2</td>
            <td>Строка 2 Столбец 3</td>
            <td>Строка 2 Столбец 4</td>
        </tr>
        <tr>
            <td>Строка 3 Столбец 1</td>
            <td>Строка 3 Столбец 2</td>
            <td>Строка 3 Столбец 3</td>
            <td>Строка 3 Столбец 4</td>
        </tr>
        <tr>
            <td>Строка 4 Столбец 1</td>
            <td>Строка 4 Столбец 2</td>
            <td>Строка 4 Столбец 3</td>
            <td>Строка 4 Столбец 4</td>
        </tr>
         <tr>
            <td>Строка 5 Столбец 1</td>
            <td>Строка 5 Столбец 2</td>
            <td>Строка 5 Столбец 3</td>
            <td>Строка 5 Столбец 4</td>
        </tr>
    </table>
</body>
</html>
