body {
    font-family: 'Sulphur Point', sans-serif;
    font-size: 28px;
    margin: 0;
    background-color: aqua;
    padding-left: 100px;
}

ol {
    padding-left: 100px;
    font-size: 32px;
    font-weight: bold;
}

table {
    background-color: blueviolet;
    border-color: bisque;
}

a {
    text-decoration: none;
    color: darkblue;
}

.cross {
    width: 500px;
    height: 500px;
    position: relative;
    background-color: darkred;
}

.horizontal-line {
    position: absolute;
    top: 200px;
    left: 125px;
    height: 100px;
    width: 250px;
    background-color: floralwhite;
    border-radius: 5px;
}

.vertical-line {
    position: absolute;
    top: 125px;
    left: 200px;
    height: 250px;
    width: 100px;
    background-color: floralwhite;
    border-radius: 5px;
}

